@{
    ViewData["Title"] = "Home";
}

<header>
    <div class="hero-content">
        <h1>Benvenuti al B&B Casa Vacanza Pillo</h1>
        <p>Il tuo rifugio perfetto per una vacanza indimenticabile</p>
    </div>
</header>

<section class="about">
    <h2>La Casa</h2>
    <p>
        La Casa di Pillo si trova a circa 3 km dalla strada provinciale 257 Apecchiese, raggiungibile con strada privata ad uso esclusivo, il che garantisce una completa tranquillità e riservatezza. La casa è completamente ristrutturata con materiali originali (pietre, tavelle in cotto, legno), posizionata sulla sommità di una collinetta ed è recintata con un giardino di oltre un ettaro, dove sono presenti numerose querce secolari e piante da frutto.
    </p>
    <p>
        Si sviluppa su 2 piani, con 2 grandi terrazze al piano superiore da cui si possono ammirare albe e tramonti sulle colline e sulle montagne ed un meraviglioso loggiato esposto ad est.
    </p>
    <p>
        Al piano terra è presente un grande salone, con camino utilizzabile in inverno, un bagno con doccia, una lavanderia con lavatrice e 2 camere di cui una matrimoniale ed una con 2 letti singoli.
    </p>
    <p>
        Al primo piano si trova la cucina completamente attrezzata (piano cottura a gas, forno elettrico e lavastoviglie, robot da cucina) e con stufa economica utilizzabile nei mesi freddi per scaldarsi e cucinare; è presente anche uno studio e una ulteriore camera matrimoniale.
    </p>
    <p><a href="https://maps.app.goo.gl/bt5gmtdy3DJM6fxF7" target="_blank"><strong>Google Maps:</strong></a> Dove si trova La Casa di Pillo</p>
</section>

<section class="about">
    <h2>Il Territorio: Natura, Colline e Montagne</h2>
    <p>
        La Casa di Pillo si trova nell’entroterra marchigiano, a circa 400 msl, immersa in un ambiente naturale perfettamente curato e conservato immerso negli appennini. Se da un lato è completamente isolata e posta in posizione privilegiata per trascorrere giornate tranquille, dall’altro è vicina a paesi (Acqualagna, Cagli, Fossombrone, …) e servizi (superstrada, supermercati, farmacie, cinema, …)
    </p>
    <div class="gallery" id="galleryOverview"></div>
</section>

<section class="about">
    <h2>Idee ed Attività</h2>
    <h3>Attività naturalistiche e paesaggistiche</h3>
    <div>
        <div>Gola del Furlo: Un'area naturale protetta con sentieri escursionistici e panorami mozzafiato.</div>
        <div>&nbsp;</div>
        <div>Parco Pubblico La Golena: Un luogo perfetto per passeggiate rilassanti immersi nella natura.</div>
        <div>&nbsp;</div>
        <div>Monti Catria, Nerone e Petrano: trekking e tranquillità per chi ama la natura e il relax.</div>
        <div>&nbsp;</div>
        <div>Grotte di Frasassi</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>

    <h3>Attività sportive</h3>
    <div>
        <div>Escursioni in mountain bike sui monti Nerone, Catria e Petrano.</div>
        <div>&nbsp;</div>
        <div>Arrampicata su tratti attrezzati delle coste rocciose dei monti.</div>
        <div>&nbsp;</div>
        <div>Illumia Padel Arena: centro sportivo moderno per il padel.</div>
        <div>&nbsp;</div>
        <div>Canoa e Kayak lungo la gola del Furlo.</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>

    <h3>Attività culturali</h3>
    <div>
        <div><a href="https://www.vieniaurbino.it/">Urbino</a>: città del Rinascimento e patrimonio UNESCO dal 1998.</div>
        <div>&nbsp;</div>
        <div><a href="https://turismo.comune.mondavio.pu.it/">Mondavio</a>: borgo storico tra i più belli d’Italia.</div>
        <div>&nbsp;</div>
        <div><a href="https://www.gradara.org/home/">Gradara</a>: borgo e castello ricchi di storia.</div>
        <div>&nbsp;</div>
        <div><a href="https://fonteavellana.it/">Monastero di Fonte Avellana</a>: eremo millenario ai piedi del monte Catria.</div>
        <div>&nbsp;</div>
        <div><b>Antiquarium Pitinum Mergens</b>: museo archeologico.</div>
        <div>&nbsp;</div>
        <div><b>Museo del Tartufo</b>: esperienza dedicata alla tradizione del tartufo.</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>

    <h3>Enogastronomia</h3>
    <p>
        Acqualagna è famosa per il <a href="https://www.cittadeltartufo.com/le-citta-del-tartufo/acqualagna/">tartufo</a>.
        Tra i locali consigliati:
        <a href="https://braceriaplinc.it/">Braceria da Plinc</a>,
        <a href="https://anticofurlo.it/">Antico Furlo</a>,
        <a href="https://www.osteriazanchetti.it/">Osteria Zanchetti</a>,
        <a href="https://www.collinadellefate.com/">La collina delle Fate</a>,
        <a href="https://www.aziendaguerrieri.it/">Azienda Guerrieri</a>,
        <a href="https://www.birradelcatria.com/">Birrificio del Catria</a>.
    </p>
</section>

<section class="about">
    <h2>Come Arrivare</h2>
    <p>
        La Casa di Pillo si trova <a href="https://maps.app.goo.gl/bt5gmtdy3DJM6fxF7" target="_blank">qui</a>.
    </p>
    <p>
        È facilmente raggiungibile dalla strada provinciale 257 Apecchiese, che collega le Marche con la Toscana e l’Umbria. A poca distanza da Acqualagna e dalla superstrada SS3 che collega Fano e l’autostrada A14 con l’entroterra.
    </p>
</section>

<section class="about">
    <div class="gallery" id="gallery"></div>
</section>

<footer>
    <p>
        Contattaci: <a href="mailto:info@casavacanzapillo.it">info@casavacanzapillo.it</a>
    </p>
    <p>
        Visita: <a href="https://www.facebook.com/p/La-Casa-di-Pillo-a-Frontino-100042583646372/">Facebook</a>
    </p>
    <p>&copy; <span id="year"></span> B&B Casa di Pillo a Frontino. Tutti i diritti riservati.</p>
</footer>

<div class="lightbox" id="lightbox">
    <div class="lightbox-background" id="lightbox-background"></div>
    <span class="arrow left" id="prevBtn">&#10094;</span>
    <img src="" class="image-show" alt="Anteprima immagine" />
    <span class="arrow right" id="nextBtn">&#10095;</span>
</div>

@section Scripts {
    <script>
        const overview = [
          "/images/20171021_082320.jpg",
          "/images/20171112_103812.jpg",
          "/images/20171119_090404.jpg",
          "/images/20201108_083310.jpg",
          "/images/20240128_154615.jpg",
          "/images/20240202_073734.jpg",
          "/images/20240404_190417.jpg",
          "/images/20240421_170922.jpg",
        ];
        const images = [
          "/images/20170813_175402.jpg",
          "/images/20171105_090616.jpg",
          "/images/20171209_164807.jpg",
          "/images/20171209_173623.jpg",
          "/images/20231022_093928.jpg",
          "/images/20231111_095901.jpg",
          "/images/20231111_095925.jpg",
          "/images/20231111_095948.jpg",
          "/images/20231111_100014.jpg",
          "/images/20240113_161304.jpg",
          "/images/20240128_141758.jpg",
          "/images/20240128_141806.jpg",
          
          "/images/20240404_103523.jpg",
          "/images/20240404_103530.jpg",
          
          "/images/20240505_093550.jpg",
          "/images/20240505_093606.jpg",
          "/images/20240505_120944.jpg",
          "/images/20240623_164413.jpg",
          "/images/20250419_151138.jpg",
          "/images/IMG_20240113_134338_241.jpg",
          "/images/IMG-20241004-WA0002(1).jpg",
          "/images/scale.jpeg",
          "/images/WhatsApp Image 2024-10-04 at 10.53.42.jpeg",
          "/images/WP_001054.jpg",
          "/images/WP_001067.jpg",
          "/images/WP_001094.jpg",
          "/images/WP_001194.jpg",
          "/images/WP_20140817_002.jpg",
          "/images/WP_20151115_006 (2).jpg",
          "/images/WP_20151206_003.jpg",
          "/images/WP_20151212_005.jpg",
          "/images/WP_20151220_002.jpg",
          "/images/WP_20160716_013.jpg",
          "/images/WP_20161112_006.jpg",
          "/images/WP_20161225_12_01_25_Pro.jpg",
          "/images/WP_20161225_12_01_39_Pro.jpg",
          "/images/WP_20170701_18_36_15_Rich.jpg",
          "/images/WP_20170701_19_02_06_Rich.jpg"
        ];


        const gallery = document.getElementById("gallery");
        const galleryOverview = document.getElementById("galleryOverview");
        const lightbox = document.getElementById("lightbox");
        const lightboxBackground = document.getElementById("lightbox-background");
        const lightboxImg = lightbox.querySelector("img");
        const prevBtn = document.getElementById("prevBtn");
        const nextBtn = document.getElementById("nextBtn");

        let currentIndex = 0;

        function loadGallery() {
          images.forEach((src, index) => {
            const img = document.createElement("img");
            img.src = src;
            img.alt = "Foto casa vacanza";
            img.loading = "lazy";
            img.addEventListener("click", () => openLightbox(index));
            gallery.appendChild(img);
          });
            overview.forEach((src, index) => {
            const img = document.createElement("img");
            img.src = src;
            img.alt = "Foto casa vacanza";
            img.loading = "lazy";
            img.addEventListener("click", () => openLightboxOverview(index));
            galleryOverview.appendChild(img);
          });
        }
        let currentImages = images;
        function openLightbox(index) {
          currentIndex = index;
          currentImages = images;
          updateLightbox();
          lightbox.classList.add("open");
        }
         function openLightboxOverview(index) {
          currentIndex = index;
          currentImages = overview;
          updateLightbox();
          lightbox.classList.add("open");
        }

        function updateLightbox() {
          lightboxImg.src = currentImages[currentIndex];
        }

        function closeLightbox() {
          lightbox.classList.remove("open");
        }

        function nextImage() {
          currentIndex = (currentIndex + 1) % currentImages.length;
          updateLightbox();
        }

        function prevImage() {
          currentIndex = (currentIndex - 1 + currentImages.length) % currentImages.length;
          updateLightbox();
        }

        lightboxBackground.addEventListener("click", (e) => {
          closeLightbox();
        });

        prevBtn.addEventListener("click", prevImage);
        nextBtn.addEventListener("click", nextImage);

        document.addEventListener("keydown", (e) => {
          if (!lightbox.classList.contains("open")) return;
          if (e.key === "ArrowRight") nextImage();
          if (e.key === "ArrowLeft") prevImage();
          if (e.key === "Escape") closeLightbox();
        });

        let touchStartX = 0;
        lightbox.addEventListener("touchstart", (e) => {
          touchStartX = e.changedTouches[0].screenX;
        });

        lightbox.addEventListener("touchend", (e) => {
          const touchEndX = e.changedTouches[0].screenX;
          const deltaX = touchEndX - touchStartX;

          if (Math.abs(deltaX) > 50) {
            if (deltaX > 0) prevImage();
            else nextImage();
          }
        });

        document.getElementById("year").textContent = new Date().getFullYear();
        document.addEventListener("DOMContentLoaded", loadGallery);
    </script>
}

